body{
    margin: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.2rem;
    background-color: #fff;
    /* border-bottom: 5px solid #cbbaba; */
}

.logo{
    display: flex;
    align-items: center;
}

.navbar img {
    height: 6.5rem;
    margin-right: 1rem;
}

.nav_links{
    display: flex;
    gap: 2rem;
}

.nav_links a{
    text-decoration: none;
    color: #753f00;
    font-weight: bold;
}



.search_box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1dcb9;
    border-radius: 1.5rem;
    padding: 0.3rem 0.99rem;
}

.search_box input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 0.3rem;
    padding: 0.3rem;
}

.search_box svg {
    color: gray;
    width: 1.2rem;
    height: 1.2rem;
}
.page-1{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-1 h1{
    margin-left: 3rem;
    font-size: 5.2rem;
    font-family: 'Merriweather';
    font-weight: 700;
    color: #4F3108;
}
.page-1 img{
    width: 50;
    height: 70%;
}
.page-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../pic/background-page-2.jpg');
    background-size: cover; /* supaya gambar penuh menutupi layar */
    background-repeat: no-repeat; /* supaya gambar tidak diulang */
    background-position: center; /* supaya posisi gambar di tengah */
    width: 100%;
    height: 115vh;
}
.page-2 h1{
    color: white;
    font-family: 'Merriweather';
    font-size: 3.4rem;
    font-weight: 700;
    text-align: center;
}

.page-3{
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.page-3 img{
    width: 80%;
   
}
