body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.2rem;
    background-color: #fff;
    border-bottom: 5px solid #cbbaba;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    height: 3.1rem;
    margin-right: 0.6rem;
}

.nav_links{
    display: flex;
    gap: 2rem;
}

.nav_links a{
    text-decoration: none;
    color: #753f00;
    font-weight: bold;
}



.search_box {
    display: flex;
    align-items: center;
    background-color: #f1dcb9;
    border-radius: 1.5rem;
    padding: 0.3rem 0.99rem;
}

.search_box input {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 0.3rem;
    padding: 0.3rem;
}

